SOURCE_DIRS += core/
BUILD_SRCS := \
	core/kernel.c \
	core/syscall.c \
	core/multiboot.c \
	core/mm/mm.c \
	core/mm/liballoc.c \
	core/mm/allochooks.c \
	core/tty/tty.c \
	core/tty/fb_generic.c \
	core/tty/font.c \
	core/khooks.c \
	core/util/klog.c \
	core/util/locks.c \
	core/util/panic.c \
	core/io/uart.c \
	core/tasks/sched.c \
	core/tasks/tasks.c \
	core/io/ps2.c \
	core/io/generickbd.c \
	core/io/ps2kbd.c \
	core/io/atkbd.c \
	core/io/pci.c \
	core/fs/vfs.c \
	core/fs/tarfs.c \
	core/kshell/main.c \
	core/ata/ata.c \

ifneq ($(or $(filter x86_64, $(TARGET_ARCH)), $(filter i386, $(TARGET_ARCH))),)
BUILD_SRCS += \
	core/ata/pata.c
endif
