BUILD_OBJ := \
	core/kernel.o \
	core/multiboot.o \
	core/mm/mm.o \
	core/mm/liballoc.o \
	core/mm/allochooks.o \
	core/tty/tty.o \
	core/tty/fb_generic.o \
	core/tty/font.o \
	core/khooks.o \
	core/util/panic.o \
	core/io/uart.o \
	core/tasks/sched.o \
	core/tasks/tasks.o \
	core/io/ps2.o \
	core/io/generickbd.o \
	core/io/ps2kbd.o \
