CC += x86_64-elf-gcc
ARCH_LINKER := arch/x86_64/linker.ld
ARCH_CFLAGS += -mcmodel=large -mno-red-zone -Iarch/x86_64/include/
ARCH_LFLAGS := -mcmodel=large -z max-page-size=0x1000 -mno-red-zone
SOURCE_DIRS += arch/x86_64/
ARCH_SRCS += \
	arch/x86_64/boot/boot.S \
	arch/x86_64/boot/bootstrap.S \
	arch/x86_64/tasks/tasks.c \
	arch/x86_64/tasks/switch_stack.S \
	arch/x86_64/mmu.c \
	arch/x86_64/idt.c \
	arch/x86_64/isr_entry.S \
