CC += x86_64-elf-gcc
ARCH_LINKER := arch/x86_64/linker.ld
ARCH_CFLAGS += -mcmodel=large -mno-red-zone -Iinclude/x86 -Iinclude/x86_64
ARCH_LFLAGS := -mcmodel=large -z max-page-size=0x1000 -mno-red-zone
ARCH_OBJ += boot/boot.o \
boot/bootstrap.o \
mmu.o \
vga.o \
uart_io.o \
idt.o \
isr_entry.o \
pic.o \
hal.o \
pit.o \
syscall.o \
tasks/tasks.o \
tasks/switch_stack.o \
io/ps2.o \
